<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Summary</title>

  <link rel="stylesheet" href="{{ files.css }}"/>
</head>
<body>

<script src="{{ files.js }}"></script>

</body>
</html>
